.legend-main-section{
    width: 100%;
    margin: 20px 0 0;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
}
.our-legend-sec-1{
  margin-top: 186px;
}
.our-legend-sec-1 h2{
  text-align: center;
  text-transform: uppercase;
  font-family: "CopperHewitBold";
  font-size: 62px;
  font-weight: 900;
  padding: 20px 0;
}
.our-legend-sec-2{
  padding: 20px 0;

}
section.our-legend-sec-2 h2 {
  font-size: 32px;
  font-family: 'BrandonTextBold';
  padding: 16px 0 5px;
}
section.our-legend-sec-2 h4 {
  font-size: 17px;
  font-family: 'BrandonText-Regular';
  color: #8bc442;
  font-weight: 600;
}
.mvp{
  padding-top: 50px;
}
.our-legend-sec-3 .members {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 0px 70px;
}
section.our-legend-sec-3 {
  width: 100%;
}
.our-legend-sec-3 .members ul{
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.our-legend-sec-3 .members ul li{
  line-height: 25px;
  padding: 0 20px;
}
.our-legend-sec-3 .members h2 {
  font-weight: 900;
  font-family: 'CopperHewitBold';
  letter-spacing: 1px;
  font-size: 55px;
  /* text-transform: uppercase; */
}
section.our-legend-sec-3 .members a {
  /* color: green; */
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'BrandonText-Regular';
  font-weight: 700;
  color: #000;
}
.members-photos h4{
  font-size: 28px;
  font-family: 'BrandonTextBold';
  padding: 16px 0 5px;
  margin-bottom: 0;
}
.members-photos h6{
  font-size: 17px;
  font-family: 'BrandonText-Regular';
  color: #8bc442;
  font-weight: 500;
}
.members-cards {
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 12px;
}
.react-tabs__tab{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'BrandonText-Regular';
  font-weight: 700;
  color: #000;

}

.react-tabs__tab--selected {
  position: relative !important;
  background: #fff;
  border-color: #fff !important;
  border-bottom: 2px solid #fff !important;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'BrandonText-Regular';
  font-weight: 700;
  color: #000;

  border-radius: 0 !important ;
}
.react-tabs__tab--selected:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.react-tabs__tab-list {
  border-bottom: none !important;
  margin: 0 0 10px;
  padding: 0;
}


