/* .about-main-section{
    width: 100%;
    height: 100vh;
    margin: 20px 0 0;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
} */
/* Reset Css */
.about-banner{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    background-color: #000;
    border-bottom: 1px solid #a8a8a8;

  }
  .about-banner h2 {
   
    font-size: 90px;
    font-weight: 800;
    font-family: "CopperHewitBold";
    color: #fff;
  }
  .about-banner p {
    font-size: 20px;
    padding: 20px;
    font-family: "BrandonText-Regular";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff; 
  }
  .about-banner img {
    width: 18px;
    margin-left:4px ;
    
  }
  .about-banner .brand-text {
    position: absolute;
    left: 198px;
    top: 492px;
    font-size: 18px;
    font-weight: 600;
    display: none;
}
.__dummy{
  filter: invert(1);
}
  .team-section{
    padding: 45px 0px;
    position: relative;
    
   
  }
  .team-section-img{
    background-image: url("../../Assets/Images/team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  width: 100%;
  height: 803px;
  }
  .team-section-card {
    width: 576px;
    height: 251px;
    /* margin: 259px 0 294px 600px;
    padding: 40px 35px 41px; */
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    position: absolute;
    right: -85px;
    top:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  .team-section-card p {
    font-family: "BrandonText-Regular";
    font-size: 20px;
    cursor: pointer;
    padding: 0 20px;
    line-height: initial;
}
  .team-section-card:hover{
    background-color: #8bc442;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  .img-box{
    position: relative;
    overflow: hidden;
   margin-bottom: 20px;

  }
  .image-section img {
   width: 100%;
  
  }
  .our-ceo{
    width: 90%;
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  bottom: -100px;
  left: 0%;
  right: 0%;
  margin: auto;
  opacity: 0;
  
}
.our-ceo p {
  font-size: 14px;
  font-family: "BrandonText-Regular";
  margin-bottom: 0;
  font-weight: 600;
  
}
.img-box:hover .our-ceo{
  bottom: 10px;
  opacity: 1;
  transition: all 0.8s ease-in-out;

}
.about-detail {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
.about-detail-1{
  display: flex;
  justify-content: space-between;
  padding-top: 30px ;
  padding-left: 20px ;
  padding-right: 20px ;
 
}
.about-detail-1 h2 {
  font-size: 58px;
  width: 80%;
  font-family: "BrandonText-Regular";
  line-height: 1.5em;


}
.about-detail-1 p {
  font-family: "BrandonTextLight";
  font-size: 18px;
  width: 75%;
  font-weight: 400;
}
.about-detail-2 p {
  font-family: "Charter";
  font-size: 32px;
  padding: 5px 10px;
}
.about-detail-4{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px ;
  padding-right: 20px ;
}
.about-detail-4 p {
  font-family: "BrandonTextLight";
    font-size: 18px;
    line-height: 1.9em;
    width: 95%;}
    .about-detail-3{
      position: relative;
      
    }
    .about-detail-3 div{
  
      position: absolute;
      bottom: -195px;
      left: 38px;
    
    }
    .about-detail-3 a{
      color: #8bc442;
      font-size: 24px;
      font-family: "BrandonText-Regular";
      text-decoration: none;
      padding-left: 18px;
      
    }
    .about-detail-3 a:hover{
   
      text-decoration: none;
      color: #000
    }
    
    .about-banner2-img {
      background-image: url("../../Assets//Images/about-banner-2.png");
      width: 100%;
      height: 54vh;
      background-repeat: no-repeat;
    }
    .our-brands-detail {
      width: 100%;
      height: 80vh;
      padding: 0 10px;
      display: flex;
      flex-flow: column;
      justify-content: center;
  }
    .our-brands-detail h6{
      font-size: 18px;
      font-family: "BrandonTextBold";
    }
    .our-brands-detail p {
      font-family: "BrandonTextLight";
      font-size: 24px;
    }
    .our-brands-logos {
      margin-top: 52px;
    }
    .logos{
      width: 100%;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logos img {
      height: 80px;
      /* width: 40 */
  }
  .about-talk {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .about-talk-container {
    background-color: #f9f9f9;  
    width: 100%;
  }
  .about-talk-main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   
  }
  .about-talk-main h2{
      padding-top: 15px;
      font-size: 52px;
      font-family: "BrandonText-Regular";
      text-align: center;
      margin-bottom: 22px;

  }
  .about-talk-main a{
    width: 220px;
    height: 70px;
  background-color: #8bc442;
  text-align: center;
  font-size: 28px;
  color: white;
  font-family: "BrandonTextBold";
  line-height: 2.5em;
  margin-bottom: 22px;
  transition: all 0.6s;

  

  }
  .about-talk-main a:hover{
    text-decoration: none; 
    color:  #8bc442;
    background-color: #000;
    transition: all 0.6s;
  }
  .about-talk-images img {
    width: 100%;
    padding: 0 10px;
  }
  /* .slick-arrow.slick-prev{
    background-color:#f9f9f9
  }
  .slick-arrow.slick-next{
    background-color:#f9f9f9
  } */
  .sec-3-about {
    height: 600px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    position: relative;
    /* visibility: hidden; */
    overflow: hidden;
    }
    
    .sec-3-about .img-1 {
    width: 500px;
    transform: translateX(56px);
    }
    .sec-3-about .img-2 {
    transform: translateY(-156px);
    width: 369px;
    }
    .sec-3-about .img-3 {
    transform: translateY(-7px);
    }
    .sec-3-about .img-card {
      width: 576px;
      height: 300px;
      background-color: #ffffff;
      box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.11);
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 6px;
      z-index: 2222;
      /* transform: translateY(-44px); */
      transform: translateX(95px);
  }

    .sec-3-about .img-card h6{
      font-size: 25px;
      padding: 35px 20px 0;
      font-family: "BrandonTextBold";
    }
    .sec-3-about .img-card p{
      padding-left: 20px;
      font-size: 18px;
    }
    .team-section-img--1{
      background-image: url("../../Assets/Images/ab-ban.png");
      background-size: cover;
      background-repeat: no-repeat;
    width: 100%;
    height: 804px;
    }

    .team-section-img--1 p{
      font-size: 19px;
    }
    .portfolio-2 {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding-bottom: 29px;
  }
  .portfolio-1{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.8s ease-in-out;
  }

  .portfolio-1:hover .our-ceo{
    bottom: 10px;
    opacity: 1;
    transition: all 0.8s ease-in-out;
  
  }

  .portfolio-4{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.8s ease-in-out;
  }
  .portfolio-4:hover .our-ceo{
    bottom: 10px;
    opacity: 1;
    transition: all 0.8s ease-in-out;
  
  }
  /* img 01 */
  .img_01{
    position: absolute;
    top: 0;
    left: 509px;
  }
  .img_01 img{
    width: 408px;
    height: 82px;
     filter: grayscale(1);
    transition: 0.3s;
    animation: lantern4 8s infinite;
    animation-timing-function: linear;
  }
  .img_01 p {
    position: absolute;
    top: 26px;
    left: 50%;
    z-index: 1;
    font-size: 19px;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.3s;
    width: 100%;
}
.img_01:hover p{
  opacity: 1;
}
.img_01:hover img{
  filter: grayscale(1) brightness(0.5);
  transform: scale(1.1); }


/* img 02 */
.img_02 {
  position: absolute;
  top: 447px;
  right: -56px;
}
.img_02 img {
  width: 233px;
  height: 314px;

  filter: grayscale(1);
  
  transition: 0.3s;
    animation: lantern 9s infinite;
    animation-timing-function: linear;
}
.img_02 p {
  left: 0;
  transform: translate(-59% 32%);
  transform: translate(-66%, -139%);
  transition: 0.3s;
  opacity: 0;
  width: 100%;
}

.img_02:hover img { 
    transform: scale(1.1);
    filter: brightness(0.5) grayscale(1);

}
.img_02:hover p{
  opacity: 1;
}

/* img 3  */
   .img_03{
    position: absolute;
    top: 0;
    left: 0;
   }
  .img_03 img{
    width: 249px;
    height: 203px;
    filter: grayscale(1);
    transition: 0.5s;
    animation: lantern1 7s infinite;
    animation-timing-function: linear;
   
  }
  .img_03 p{ 
    transform: translate(153px, -77px);
    opacity: 0;
    transition: 0.3s;

  }
  .img_03:hover p{
    opacity: 1;

  }
  .img_03:hover img{transform: scale(1.2); filter: grayscale(1) brightness(0.5);}

  /* img 08 */
 .img_08{
  position: absolute;
  top: 1px;
  right: 232px;}

.img_08 img {
    width: 238px;
    height: 140px;
    filter: grayscale(1);
    transition: 0.3s;
    animation: lantern4 8s infinite;
    animation-timing-function: linear;
    
    }
  
 .img_08 p {
  transform: translate(153px, -77px);
  opacity: 0;
  transition: 0.3s;
}
.img_08:hover p{
  opacity: 1;
}
.img_08:hover img{
  transform: scale(1.1);
  filter: brightness(0.5) grayscale(1);
  

} 
.img_04 img {
  width: 352px;
  height: 271px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: lantern 8s infinite;
  animation-timing-function: linear;
  
}
  /* img 07 */
.img_07{
 position: absolute;
  bottom: -189px;
  left: 50%;
  

}
.img_07 img{
  width: 477px;
  height: 109px;
  filter: grayscale(1);
  transition: 0.3s;
  overflow: hidden;
  animation: lantern3 8s infinite;
  animation-timing-function: linear;


}
.img_07 p {
  transform: translate(-235px, -230px);
  opacity: 0;
  transition: 0.3s;
  
}
.img_07:hover p{
  opacity: 1;
}
.img_07:hover img{
  filter: brightness(0.5) grayscale(1);
  transform: scale(1.1);
}
/* img 05 */
.img_05{
  position: absolute;
  bottom: -191px;
  left: 300px;

}
.img_05 img {
  width: 233px;
  height: 157px;
  filter: grayscale(1);
  transition: 0.5s;
  animation: lantern4 9s infinite;
  animation-timing-function: linear;

}
.img_05 p {
  transform: translate(-220px, -230px);
  opacity: 0;
  transition: 0.3s;
  
}
.img_05:hover p {
  opacity: 1;
  transition: 0.3s;
  
}
.img_05 img:hover{
  filter: brightness(0.5) grayscale(1);
  transition: 0.3s;
  transform: scale(1.1);
  

}
@keyframes lantern {
  0% {
  transform: translateY(-2vw)
 }
  50% {
  transform: translateY(0vw)
 }
  100% {
  transform: translateY(-2vw)
 }
 }
 
 @keyframes lantern1 {
  0% {
  transform: translateX(1vw)
 }
  50% {
  transform: translateX(0vw)
 }
  100% {
  transform: translateX(1vw)
 }
}
@keyframes lantern4 {
  0% {
  transform: translateX(-1vw)
 }
  50% {
  transform: translateX(0vw)
 }
  100% {
  transform: translateX(-1vw)
 }
 
 }
 @keyframes lantern3 {
  0% {
  transform: translateY(1vw)
 }
  50% {
  transform: translateY(0vw)
 }
  100% {
  transform: translateY(1vw)
 }
 
 }
 

  .abcx{
    width: 100%;
    height: inherit;
    position: relative;
  }
 @media screen and (max-width: 1560px){
  
 .img_02 {
    position: absolute;
    top: 195px;
    right: -42px;
}
.img_02 img {
  width: 180px;
  height: 256px;
}
.img_02 p{
  font-size: 16px;
  transform: translate(-110px,-59px );
}
.img_08 {
    position: absolute;
    top: 1px;
    right: 9px;
}
.img_08 img {
    width: 190px;
    height: 130px;
    filter: grayscale(1);
    transition: 0.3s;
}
.img_08 p{
  font-size: 16px;
  transform: translate(-124px, -73px);
}
 
 .img_01 img {
    width: 300px;
    height: 75px;
    filter: grayscale(1);
    transition: 0.3s;
}
.img_01 p{
  font-size: 16px;
  transform: translate(15px, -14px);
}
.img_03 {
    position: absolute;
    top: 4px;
    left: -65px;
}
.img_03 img {
    width: 150px;
    height: 119px;
 
}
.img_03 p {
    font-size: 16px;
}
.img_07 img {
    width: 300px;
    height: 95px;
 }
 .img_07 {
    position: absolute;
    bottom: -166px;
    right: 87px;
}
.img_07 p {
    transform: translate(11px, -227px);
    font-size: 16px;
}
.img_05 {
    position: absolute;
    bottom: -159px;
    left: 300px;
}
.img_05 img {
    width: 220px;
    height: 150px;

}
.img_05 p {
    font-size: 16px;
    transform: translate(-181px, -210px);
   
}
.about-banner .brand-text{
  display: none
}
.img_04 img {
    width: 278px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.about-banner h2 {
    font-size: 59px;
    font-weight: 800;
    font-family: "CopperHewitBold";
}
.team-section-card {
    width: 500px;
    height: 210px;
    position: absolute;
    right: -40px;
    top: 30%;
}
.sec-3-about {
  margin-top: 30px
}
.team-section-img--1 p {
    font-size: 20px;
}
}