/* .about-main-section{
    width: 100%;
    height: 100vh;
    margin: 20px 0 0;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
} */
.about-banner{
    background-image: url("../../Assets/Images/about-banner.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

  }
  .about-banner h2 {
   
    font-size: 70px;
    font-weight: 800;
    font-family: "CopperHewitBold";
  }
  .about-banner p {
    font-size: 20px;
    display: flex;
    padding: 20px;
    font-family: "BrandonText-Regular";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

  }
  .about-banner img {
    width: 18px;
    margin-left:4px ;
    
  }
  .about-banner .brand-text{
    position: absolute;
    left: 233px;
    top: 557px;
    font-size: 20px;
    font-weight: 600;
    
  }

  .team-section{
    padding: 45px 0px;
    position: relative;
    
   
  }
  .team-section-img{
    background-image: url("../../Assets/Images/team.jpg");
    background-size: cover;
  width: 100%;
  height: 100vh;
  }
  .team-section-card {
    width: 576px;
    height: 251px;
    /* margin: 259px 0 294px 600px;
    padding: 40px 35px 41px; */
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    position: absolute;
    right: -85px;
    top:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  .team-section-card p {
    font-family: "BrandonText-Regular";
    font-size: 22px;
    cursor: pointer
    
  }
  .team-section-card:hover{
    background-color: #8bc442;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  .img-box{
    position: relative;
    overflow: hidden;
   margin-bottom: 20px;

  }
  .image-section img {
   width: 100%;
  
  }
  .our-ceo{
    width: 90%;
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  bottom: -100px;
  left: 0%;
  right: 0%;
  margin: auto;
  opacity: 0;
  
}
.our-ceo p {
  font-size: 14px;
  font-family: "BrandonText-Regular";
  margin-bottom: 0;
  font-weight: 600;
  
}
.img-box:hover .our-ceo{
  bottom: 10px;
  opacity: 1;
  transition: all 0.8s ease-in-out;

}
.about-detail {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
.about-detail-1{
  display: flex;
  justify-content: space-between;
  padding-top: 30px ;
  padding-left: 20px ;
  padding-right: 20px ;
 
}
.about-detail-1 h2 {
  font-size: 58px;
  width: 80%;
  font-family: "BrandonText-Regular";
  line-height: 1.5em;


}
.about-detail-1 p {
  font-family: "BrandonTextLight";
  font-size: 18px;
  width: 75%;
  font-weight: 400;
}
.about-detail-2 p {
  font-family: "Charter";
  font-size: 32px;
  padding: 5px 10px;
}
.about-detail-4{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px ;
  padding-right: 20px ;
}
.about-detail-4 p {
  font-family: "BrandonTextLight";
    font-size: 18px;
    line-height: 1.9em;
    width: 95%;}
    .about-detail-3{
      position: relative;
      
    }
    .about-detail-3 div{
  
      position: absolute;
      bottom: -195px;
      left: 38px;
    
    }
    .about-detail-3 a{
      color: #8bc442;
      font-size: 24px;
      font-family: "BrandonText-Regular";
      text-decoration: none;
      padding-left: 18px;
      
    }
    .about-detail-3 a:hover{
   
      text-decoration: none;
      color: #000
    }
    
    .about-banner2-img {
      background-image: url("../../Assets//Images/about-banner-2.png");
      width: 100%;
      height: 54vh;
      background-repeat: no-repeat;
    }
    .our-brands-detail {
      width: 100%;
      height: 80vh;
      padding: 0 10px;
      display: flex;
      flex-flow: column;
      justify-content: center;
  }
    .our-brands-detail h6{
      font-size: 18px;
      font-family: "BrandonTextBold";
    }
    .our-brands-detail p {
      font-family: "BrandonTextLight";
      font-size: 24px;
    }
    .our-brands-logos {
      margin-top: 52px;
    }
    .logos{
      width: 100%;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logos img {
      height: 80px;
      /* width: 40 */
  }
  .about-talk {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .about-talk-container {
    background-color: #f9f9f9;  
    width: 100%;
  }
  .about-talk-main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   
  }
  .about-talk-main h2{
      padding-top: 15px;
      font-size: 52px;
      font-family: "BrandonText-Regular";
      text-align: center;
      margin-bottom: 22px;

  }
  .about-talk-main a{
    width: 220px;
    height: 70px;
  border: solid 1px #979797;
  background-color: #8bc442;
  text-align: center;
  font-size: 28px;
  color: white;
  font-family: "BrandonTextBold";
  line-height: 2.5em;
  margin-bottom: 22px;

  }
  .about-talk-main a:hover{
    text-decoration: none; 
    color:  #8bc442;
    background-color: #000;
  }
  .about-talk-images img {
    width: 100%;
    padding: 0 10px;
  }
  