.contact-main-section{
    width: 100%;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
}
.contact-sec-1{
  margin-top: 350px;
  width: 100%;
}
.contact-sec-1 h4 {
  font-size: 55px;
  font-weight: bold;
  font-family: 'BrandonTextBold';
}
.contact-sec-1 p {
  font-family: "Charter-Regular";
  font-size: 26px;
  /* line-height: 33px; */
}
.contact-sec-1b{
  width: 100%;
  height: auto;
}
.contact-sec-1 h5 {
  font-family: "BrandonTextBold";
  text-transform: uppercase;
  /* font-weight: 900; */
  font-size: 14px;
  color: #8bc442;
}
.contact-sec-2{
  width: 100%;
  margin: 90px 0;
}
.contact-2a{
  width: 100%;
}
.contact-2a ul li>a {
  font-size: 32px;
  font-family: 'BrandonTextBold';
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.contact-2a ul li>a:hover{
  color:#8bc442 !important

}
.contact-2a ul li {
  padding: 0 0 30px;
  list-style: none;
  
}
.contact-2b{
  width: 100%;
}
.contact-2b .input-1{
  width: 100%;
  display: flex;
  flex-flow: row;
}
.contact-2b .input-1 input {
  height: 52px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #fbfbfb;
  width: 50%;
  margin: 0 10px;
  outline: none;
  padding:0 10px
}
.contact-2b .input-1 input:focus{
  border-bottom: 2px solid #8bc442
}


.contact-2b .input-2{
  width: 100%;
  display: flex;
  flex-flow: row;
  padding-top: 34px;
}
.contact-2b .input-2 input {
  height: 52px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #fbfbfb;
  width: 50%;
  margin: 0 10px;
  outline: none;
}
.contact-2b .input-2 input:focus{
  border-bottom: 2px solid #8bc442
}
.input-3 {
  padding: 40px 6px 0;
  width: 100%;
}


.input-3 textarea {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  background: #fbfbfb;
  outline: none;
  padding: 5px 10px;
}
.input-3 textarea:focus{
  border-bottom: 2px solid #8bc442
}
input[type="submit"] {
  padding: 10px 26px;
  background-color: #8bc442;
  border: none;
  font-family: "BrandonText-Regular";
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
  display: block;
  font-weight: 600;
  transition: all 0.5s ease-in;
  margin-left: auto;
}
input[type="submit"]:hover{
 background-color: #0000;
 color:#8bc442
}