
.nav-bar{

    background-color: #f6f6f6;    
}
.nav-button{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    padding: 20px;
    cursor: pointer;


  }
  .nav-button:hover {
    background-color: black;
  }
  


  .nav-button-active{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
    padding: 20px;
    cursor: pointer;


  }
  /* .headroom--unpinned {
    position: fixed;
    display: none;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    display: block;
    transform: translateY(0%);
    z-index: 1000;
  }
  .header-wrapper {
   background-color: tomato;
  } 
  .headroom.headroom--unfixed.headroom-disable-animation{
    position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 1000000;
      transform: translate3d(0px, 0px, 0px);
  } */

  .nav-bar .headroom--unfixed.headroom-disable-animation {
    z-index: 10000 !important;
  }

  .nav-bar .headroom--pinned.headroom--scrolled {
    z-index: 10000 !important;
  }
  .nav-bar .headroom--unfixed{
    z-index: 10000 !important;

  }