
.nav-bar{

    background-color: #f6f6f6;    
}
.nav-button{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    padding: 20px;
    cursor: pointer;


  }
  .nav-button:hover {
    background-color: black;
  }
  


  .nav-button-active{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
    padding: 20px;
    cursor: pointer;


  }