.career-main-section{
    width: 100%;
    /* margin: 20px 0 0; */
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
}
.career-sec-1 {
  background-color:#d8d8d8;
  width: 100%;
  height: 654px;
}
.career-sec-1 h2{
    font-family: "CopperHewitBold";
    font-size: 120px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.4px;
    text-align: center;
    color: #000000;
  }
  .career-main-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-flow: column;
}
.career-main-intro {
  font-size: 23px;
  font-family: 'BrandonText-Regular';
  /* line-height: 23px; */
}